@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
}

body {
    height: 100vh;
    display: flex;
}

.main-left-column {
    width: 30vw;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.main-left-column > #logo-container {
    width: inherit;
    height: 2.5rem;

    position: absolute;
    top: 8rem;
    
    background-color: #000000;
    opacity: 0.6;

    display: flex;
    justify-content: center;
    gap: 3px;
}

.main-left-column > #logo-container > #logo-name {
    text-align: center;
    color: #FFFFFF;
    font-family: Tektur;
    font-weight: bold;
    font-size: xx-large;
}

.main-left-column > #photo-credits {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.main-right-column {
    width: 70vw;
    background-color: #BDE8F380;
}

.main-right-column > form {
    width: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-right-column > form > section {
    min-height: 33%;
    padding: 24px;
    line-height: 1.2;
}

section > p {
    margin-top: 1ch;
    margin-bottom: 1ch;
    line-height: (1.25)rem;
}

#form-section-2 {
    width: inherit;
    background-color: #BDE8F3;
}

#form-section-2 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#form-section-2 ul > li {
    width: 40%;
    margin: 12px 12px 0px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#form-section-2 ul > li > input[type=password] + span::hidden{
    content: "Must be 6-12 characters long, have at least 1 uppercase and 1 lower case letter, and 1 digit";
}

form input {
    width: 100%;
    border-width: 2px;
    border-radius: 3px;
}

form input[type="text"]:valid,
form input[type="email"]:valid,
form input[type="tel"]:valid,
form input[type="password"]:valid {
    border: solid #28a745;
}

form button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;
  
    padding: 10px 30px;
}

form button:hover {
    background-color: #76AEED;
}

form button:active {
    background-color: #407FC7;
}


/** CSS HEX
--light-blue: #BDE8F3ff;
--air-force-blue: #6C919Dff;
--midnight-green: #113E4Eff;
--paynes-gray: #30657Aff;
--gunmetal: #052A33ff;
**/